body{
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}
img{
    width: 50%;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
h1{
    color: #368FEF;
    font-size: 20px;
    padding: 20px;
}
button{
    padding: 15px 30px;
    border-radius: 15px;
    border: none;
    background: #368FEF;
    color: aliceblue;
}
@media screen and (max-width:630px){
    h1{
        font-size: 16px;
    }    
}